
/* Base Elements */

*{  
    font-family: 'Bangers', cursive;
    text-align: center;
}

body{
    background-color: wheat;
  
    }

p {

    font-size: 1.2em;
}

img {
max-width: 100%;
margin-bottom: 1em;
margin-top: 1em;

}

.name {
    text-align: center;    
    
}

.profile {

    padding: 0 1em 0 1em;
    text-align: center;
    font-size: small;
    margin: 16px 0;
    background-color: wheat;
}

.profile-pic{

    display: block;
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin: 0 auto;
}


ul li{
    text-align: left;
    font-size: 1.4em;
    list-style-position: inside;
}


#contact {
    
    padding: 2em;
    margin-bottom: 1em;
    
}


.author{
    float:left;
}


.back {
    
    float: right;
    text-decoration: none;
    color: black;
  
    /* padding-bottom: 2em; */
}

/* Navigation */

.nav-bar ul {

    margin: 2em 0 4em 0;
    padding: 0;
    

}


.nav-bar li {

    list-style-type: none;
    margin: 8px;
    padding: 0%;
    background-color: white;
    
  
}

.nav-bar li a {
    display: block;
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 8px auto 16px auto;
    line-height: 2em;
}

li a:hover{
     background-color: turquoise;
     color: wheat;
}   

.nav-footer { 
    display: none;
}

/* Layout Containers */


.header  {
    background-color:wheat;
    padding-left: 1em;
    padding-right: 1em;

}

.author,
.back,
.nav-footer{

    margin-top: auto;
}

/* clearfix */


/* Media Queries */

@media (min-width: 768px) {



    .nav-bar li {
         display: inline-block;
         background-color: inherit;
         margin-left: 1em;
    }

    .profile{
       display: flex;
       flex-direction: row-reverse;
       margin: 0 21.6px;
      
       
    }

 
    .profile-pic{
       
        display: block;
        height: 220px;
        width: 220px;
        border-radius:50%;
        margin: 0 auto;
     }


    
    .intro {
        
        text-align: left ;
        max-width: 70%;
        margin-left: 0;
        font-size: 2em;

     
    }
    .portfolio,
    .skills{

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      
     
    }
    

    .projects {
        
      max-width: 30%;
        }

   
    
    #contact{
        margin: auto;
        max-width: 60%;
        display: inline-block;
        padding-bottom: 0;
        
      }
    
      .back {
          display: none;
      }

     
      footer{
       display: flex;
       justify-content: space-between;
    }

    hr,
    footer {
       margin-left: 2em;
       margin-right: 2em;
       font-size: smaller;
    }

      .nav-footer {
        display: flex;
        list-style-type: none;
        
      }
      .nav-footer a{
          text-decoration: none;
          color: black;
          padding-left: 1em;
          font-size: smaller;
          padding-top: 0;
          }

      
}

@media (min-width: 1024px) {

   .header{
       display:flex;
       justify-content: space-between;
       margin: 0 21.6px;
       padding-left: 5em;
       padding-right: 5em;

   }
   

   .profile {
       margin: auto;
       font-size: large;
   }

   .intro  {
       font-size: 3em;
       max-width: 75%;
       margin-right: 2em;
       margin-left: 2em;
   }

   .profile-pic{
    display: block;
    height: 400px;
    width: 400px;
    border-radius:50%;
    margin: 0 10em 0 auto;
   }

   .projects{
       max-width: 30%;
       margin-left: 1%;
       margin-right: 1%;
       
   }
   
 

   #contact {

    margin-top: 5em;
   }

  p,
  h2{
      font-size:1.70em;
  }

  .main-footer {
      font-size: larger;
  }
  
    
}