
/* Base Elements */

*{
    font-family: 'Bangers', cursive;
    text-align: center;
}

img {
max-width: 100%;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0%;
    background-color: white;
    border: 1px solid #555;

}

li a {
    display: block;
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 16px;
    border-bottom: 1px solid #555;
    line-height: 2em;
}

li a:hover{
     background-color: turquoise;
     color: wheat;
}   




/* Navigation */




/* Layout Containers */
.container {
    background-color:wheat;
    text-transform: capitalize lowercase;
}





/* Media Queries */