
/* Base Elements */

*{  
    font-family: 'Bangers', cursive;
    text-align: center;
}

body{
    background-color: wheat;
    
}

p {

    font-size: 1.4em;
}

img {
max-width: 100%;
margin-bottom: 1em;
margin-top: 1em;

}

.name {
    text-align: center;    
    
}
.profile {

    max-width: 70%;
    text-align: center;
    margin: 0 auto 2em auto;
    background-color: wheat;
}

ul li{
    text-align: left;
    font-size: 1.4em;
    list-style-position: inside;
}


#contact {
    background-color: whitesmoke;
    padding: 2em;
    margin-bottom: 1em;
    
}

span{
    
    float: left;
}

.back {
    
    float: right;
    text-decoration: none;
    color: black;
    padding-bottom: 2em;
}

/* Navigation */

.nav-bar ul {

    margin: 2em 0 4em 0;
    padding: 0;
    

}


.nav-bar li {

    list-style-type: none;
    margin: 8px;
    padding: 0%;
    background-color: white;
    
  
}

.nav-bar li a {
    display: block;
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 8px auto 16px auto;
    line-height: 2em;
}

li a:hover{
     background-color: turquoise;
     color: wheat;
}   


/* Layout Containers */


.container,
.header  {
    background-color:wheat;
    padding-left: 1em;
    padding-right: 1em;

}

.main-footer {

    margin: auto;
    padding-top: 15px;
}




/* Media Queries */

@media (min-width: 769px) {

    .nav-bar li a{
        float: none;
        width: 100%;
    }
}